<!DOCTYPE html>
<html lang="en">

<head>
     @@include("partials/title-meta.html", {"sub-title": "Welcome"})

     @@include("partials/head-css.html")
</head>

<body>

     <!-- START Wrapper -->
     <div class="wrapper">

          @@include("partials/menu.html", {"sub-title": "Welcome"})

          <!-- ==================================================== -->
          <!-- Start right Content here -->
          <!-- ==================================================== -->
          <div class="page-content">

               <!-- Start Container Fluid -->
               <div class="container-xxl">

                    <!-- Start here.... -->

               </div>
               <!-- End Container Fluid -->

               @@include("partials/footer.html")

          </div>
          <!-- ==================================================== -->
          <!-- End Page Content -->
          <!-- ==================================================== -->

     </div>
     <!-- END Wrapper -->

     @@include("partials/vendor-scripts.html")

</body>

</html>